<div class="row">
	<div class="col-md-3">
		<h2><%= @user.username %></h2>
		<h3><%= @user.email %></h3>
        <p>
        <% if signed_in? && current_user?(@user.id)%>
            <%= "User is not Activated, yet" if !@user.activated%><br>
            <%= link_to 'Edit User', edit_user_path(@user) %> <br>
        <% end %>
        </p>
	</div>
</div>