<div class="container">
<% if signed_in? %>
<div class="row">
<div class="col-md-3">
<h3><%= current_user.username%></h3>
</div>
<% else %>
           <div class= "jumbotron">
                 <h1>Welcome to Expence Tracker</h1></div>
                 <%= link_to "Sign in", login_path, class:"btn btn-primary"%>
            <%= link_to "Register", signup_path, class:"btn btn-outline-info"%>
            </div>
            <%end%>
            </div>
    
